<% if movements.empty? %>
  <p class='no-math'>No match found.</p>
<% else %>
  <table>
    <tr>
      <th>Item</th>
      <th>Direction</th>
      <th>Quantity</th>
      <th>Entry Date</th>
      <th>Last Update</th>
    </tr>

    <% movements.each do |movement| %>
      <%= render 'movements/movement', movement: movement %>
    <% end %>
  </table>
<% end %>
