<% if items.empty? %>
  <p class='no-math'>No match found</p>
<% else %>
  <table class='items'>
    <tr>
      <th>id</th>
      <th>item</th>
      <th>booking</th>
      <% if show_stock_status %>
        <th>In stock</th>
      <% end %>
    </tr>
    <% items.each do |item| %>
      <%= render 'items/item', item: item, show_stock_status: show_stock_status %>
    <% end %>
  </table>
<% end %>
