<tr>
  <td><%= item.id %></td>
  <td><%= item.reference.name %></td>
  <td>
  <% if item.booked %>
    booked
  <% else %>
    <button class='btn btn-success btn-xs'>
      <%= link_to book_item_path(item.id), method: 'post' do %>
        Book
      <% end %>
    </button>
  <% end %>
  </td>
</tr>
