<tr>
  <td><%= item.id %></td>

  <td><%= item.reference.name.capitalize %></td>

  <% if !item.in_stock? %>
    <td class='blank'>booked</td>
  <% elsif item.booked? %>
    <td>booked</td>
  <% else %>
    <td>
      <button class='btn btn-success btn-xs'>
        <%= link_to book_item_path(item.id), method: 'post' do %>
          Book
        <% end %>
      </button>
    </td>
  <% end %>

  <% if show_stock_status %>
    <td><%= item.in_stock? ? 'yes' : 'no' %> </td>
  <% end %>
</tr>
