form {
  dd + dd {
    margin-top: 25px;
  }

  dt {
    margin-top: 10px;
  }
}

.search {
  dd {
    display: inline-block;
    margin-top: 0;

    & + dd {
      margin-left: 25px;
    }
  }
}

.radio label {
  margin-right: 20px;
}

.alert-error {
  background: #fa8072;
}

table {
  margin: 50px auto;
  border: 1px solid grey;
  border-spacing: 5em;

  td,
  th {
    text-align: center;
    padding: 10px;
  }
}

table.items {
  margin: 0 0 0 40px;

  a {
    color: #fff;
  }
}

.navigations {
  text-decoration: none;
  margin: 0;

  li {
    display:inline-block;
    margin-left: 20px;
  }
}

h3 {
  margin-left: 75px;
}

.well h3 {
  margin-left: 0;
}
